body {
	font-family: Lato;
}

#data-image {
	height: 80px;
	width: 80px;
	border-radius: 8px;
}

#data-slider-container {
	vertical-align: top;
}

#bottom-panel {
	margin-top: 18px;
}

#data-container {
	vertical-align: top;
	display: inline-block;
	margin-left: 8px;
}

#data-name {
	font-weight: bold;
}

#lifespan-bar {
	position: absolute;
	height: 40px;
	background-color: #22f;
	border-radius: 4px;
	cursor: grab;
	margin-left: 4px;
	text-align: center;
	color: white;
}

#score-panel {
	position: absolute;
	top: 320px;
	text-align: center;
	background-color: #99e3fc;
	height: 110px;
	width: 80px;
	padding: 8px;
	border-radius: 12px;
	border-color: black;
	border-width: 3px;
	border-style: solid;
}

#score-label {
	font-weight: bold;
}

#score-value {
	font-size: 32px;
}

#hi-score-value {
	font-size: 22px;
}

#game-over {
	font-size: 36px;
	text-align: center;
	margin-top: 40px;
}

#play-again {
	cursor: pointer;
	font-size: 24px;
}

#category-select {
	width: 200px;
}

#header-container {
	margin-bottom: 18px;
	background-color: #99e3fc;
	padding: 4px;
	text-align: center;
}

#score-feedback-modal {
	text-align: center;
}

#score-feedback-text {
	font-weight: bold;
}

#score-increment {
	font-size: 28px;
}

.modal {
	position: absolute;
	top: 10%;
	left: calc(50% - 150px);
	height: 400px;
	width: 300px;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #222;
	padding: 8px;
	background-color: #99e3fc;
	box-shadow: 0px 0px 20px 20px #444;
}

.hidden {
	display: none;
}
