body {
	font-family: Lato;
}

#data-image {
	height: 80px;
	width: 80px;
	border-radius: 8px;
}

#data-slider-container {
	vertical-align: top;
}

#data-container {
	vertical-align: top;
	display: inline-block;
}

#lifespan-bar {
	position: absolute;
	height: 20px;
	background-color: #22f;
	border-radius: 4px;
	cursor: grab;
	margin-left: 4px;
}

#score-panel {
	position: absolute;
	top: 180px;
	text-align: center;
	background-color: #99e3fc;
	height: 60px;
	width: 80px;
	padding: 8px;
	border-radius: 12px;
}

#score-label {
	font-weight: bold;
}

#score-value {
	font-size: 32px;
}

#game-over {
	font-size: 36px;
	text-align: center;
	margin-top: 40px;
}
