body {
	font-family: Lato;
}

#data-image {
	height: 80px;
	width: 80px;
	border-radius: 8px;
}

#data-slider-container {
	vertical-align: top;
}

#data-container {
	vertical-align: top;
	display: inline-block;
}

#lifespan-bar {
	position: absolute;
	height: 20px;
	background-color: #22f;
	border-radius: 4px;
	cursor: grab;
}
